.citacao-jobs {
    background-color: #D9E5E3;
    padding: 1em;
    border: .5rem #C2CCCA solid;
    width: 30ch;
    margin: 1em 2em;
}
.citacao-right {
    float: right;
}
.citacao-left{
    float: left;

}
.citacao-author {
    float:right;
    font-style: italic;
    display: block;
}