body {
    background-color: #F2FFFC;
    font-size: 20px;
    line-height: 1.5;
}
body footer {
    background-color: #000;
    color: #F2FFFC;
}
.centralizar-texto {
    width: 750px;
    margin: auto;
    padding: 30px 0;
}
main a {
    color: #851944;
    text-decoration: none;
}
.titulo-principal {
    font-size: 60px;
    background-color: #851944;
    color: #F2FFFC;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    border-bottom: 10px  #000 solid;
    text-transform: uppercase;
}
h2 {
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
}
p{
    text-align: justify;
    margin: 20px 0;
}
strong {
    font-weight: bold;
}

em {
    font-style: italic;
}
.citacao-jobs {
    background-color: #D9E5E3;
    padding: 16px;
    border: 10px #C2CCCA solid;
    width: 250px;
    margin: 20px 40px;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
    text-transform: lowercase;
}
.icones-sociais li {
    display: inline-block;
}
.icones-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    font-size: 0;
}
.icon-linkedin {
    background-image: url("/img/linkedin.png");
}
.icon-twitter {
    background-image: url("/img/twitter.png");
}
.icon-github {
    background-image: url("/img/github.png");
}
aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
}
aside nav h1 {
    font-size: 30px;
    margin-bottom: 25px;
}
nav a {
    color: #F2FFFC;
    text-decoration: none;
}
#rodape-pagina  {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}
article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.leia-mais {
    font-size: 24px;
    margin: 16px;
    padding: 8px;
    text-align: center;
    background-color: #E6E7E8;
    display: block;
}