body {
    background-color: #F2FFFC;
    font-size: 20px;
    line-height: 1.5;
}
body footer {
    background-color: #000;
    color: #F2FFFC;
}
main {
    float: left;
    width: 85%;
}
.centralizar-texto {
    width: 750px;
    margin: auto;
    padding: 40px 0;
    padding-bottom: 80px;
}
main a {
    color: #851944;
    text-decoration: none;
}
.titulo-principal {
    font-size: 60px;
    background-color: #851944;
    color: #F2FFFC;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    border-bottom: 10px  #000 solid;
    text-transform: uppercase;
}
h2 {
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    clear: both;
}
p{
    text-align: justify;
    margin: 20px 0;
}
strong {
    font-weight: bold;
}

em {
    font-style: italic;
}
.citacao-jobs {
    background-color: #D9E5E3;
    padding: 16px;
    border: 10px #C2CCCA solid;
    width: 250px;
    margin: 20px 40px;
}
.citacao-right {
    float: right;
}
.citacao-left{
    float: left;

}
.citacao-author {
    float:right;
    font-style: italic;
    display: block;
}
.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
    float: right;
    clear: right;
    width: 15%;
    position: relative;
    top:190px;
}
.img-perfil, .navegacao-site {
    float: right;
    box-sizing: border-box;
    border-left: solid 10px black;
    border-bottom: solid 10px black;
}
.img-perfil {
    position: absolute;
    top: 0;
    right: 0;
}
.icones-sociais li {
    display: inline-block;
}
.icones-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    font-size: 0;
}
.icon-linkedin {
    background-image: url("/img/linkedin.png");
}
.icon-twitter {
    background-image: url("/img/twitter.png");
}
.icon-github {
    background-image: url("/img/github.png");
}
aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
}
aside nav h1 {
    font-size: 30px;
    margin-bottom: 25px;
}
nav a {
    color: #F2FFFC;
    text-decoration: none;
}
nav li {
    text-transform: lowercase;
}
#rodape-pagina  {
    width: 100%;
    background-color: #000;
    color: #F2FFFC;
    padding:15px;
    clear: both;
    position: fixed;
    bottom: 0;
}
article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.leia-mais {
    font-size: 24px;
    margin: 16px;
    padding: 8px;
    text-align: center;
    background-color: #E6E7E8;
    display: block;
}